<div class="row">
    <div class="col-lg-4">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h3>Toplam Üye Sayısı </h3><h2 class="font-bold">@ViewBag.v1</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-phone fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h3>İletişim İsteyen Kişi Sayısı </h3> <h2 class="font-bold">@ViewBag.v2</h2>
                </div>
            </div>
        </div>
    </div>
 
    <div class="col-lg-4">
        <div class="widget style1 red-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-database fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h3>Toplam Kategori Sayısı</h3>   <h2 class="font-bold">@ViewBag.v3</h2>
                </div>
            </div>
        </div>
    </div>
</div>