@using EntityLayer.Concrete
@model List<Message2>

  @foreach (var item in Model)
    {
<div class="dropdown-messages-box">
    <a class="dropdown-item float-left" href="profile.html">
            <img alt="image" class="rounded-circle" src="@item.SenderUser.WriterImage">
    </a>
    <div class="media-body ">
        <small class="float-right text-navy">5h ago</small>
            <strong>@item.SenderUser.WriterName </strong> sana bir mesaj gönderdi! <br>
            <small class="text-muted" > @item.MessageDate.ToShortDateString()</small>
    </div>
</div>

    }
    <h6 class="p-3 mb-0 text-center"><a href="/Admin/AdminMessage/InBox/"><b>Tüm mesajları gör</b></a></h6>

